BOT_TOKEN=isi_dengan_token_bot_telegram_anda
CHAT_ID=isi_dengan_chat_id_telegram_anda

CRON_SCHEDULE=30 18 * * 1-5
TZ_NAME=Asia/Jakarta

MIN_PRICE=100
MIN_TRANSACTION_VALUE=3000000000
HISTORY_DAYS=200
SCAN_CONCURRENCY=5

VOLUME_SPIKE_RATIO=2
VOLUME_SPIKE_MIN_GAIN_PCT=3
RSI_OVERSOLD_THRESHOLD=30
RSI_OVERBOUGHT_THRESHOLD=70
HIDDEN_ACCUMULATION_MIN_AVG_VALUE=10000000000
